<form action="/edu/new" method="post">

<label for="title">Title of your blog post:</label>
<input type="text" name="title" id="title">

<label for="content">Enter your blog content here:</label>
<input class="flow-text" type="text" name="content" id="content">
<input type="submit" value="create edu"class='btn' style="background-color: #ac92a6; color: black">
</form>