<form action="/post/<%=@post.id%>" method="POST">

<input type="hidden" id="hidden" name="_method" value="PATCH">
Title: <input type="text" name="title" value="<%=@post.title%>"  id="title">
Content: <input type="text" name="content" value="<%=@post.content%>" id="content">
<input type="submit" name="submit">

</form>