<h1>Hi</h1>



<div class="container">
    <h2>My Posts </h2>
    <a href="/post/new" class="btn" >Create a new post</a>
    <div class="row">

        <div class="row">
            <%@user.each do |post|%>
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><a href="/post/<%=post.id%>"><%=post.title%></a></span>
                    <p> <%=post.content%> </p>
                </div>
                
            </div>
            <%end%>
        </div>

    </div>

</div>









