<h1>Welcome to My MS Journey</h1>
<p>A place to capture the wins and losses of your MS journey. 
    Create posts and pay attention to changes in physical, 
    emotional, and mental health.</p>

<h2 class='btn' style="background-color: #dee8d5; color: black"><a href = "/user/signup">Join the community here</a></h2>

<h2 class='btn' style="background-color: #dee8d5; color: black"><a href = "/user/login">Login</a></h2>
<br>

<h2 class='btn' style="background-color: #dee8d5; color: black"><a href="/provider/signup">New Providers</a></h2>
<h2 class='btn' style="background-color: #dee8d5; color: black"><a href="/provider/login">Providers Login</a></h2>
