<h1>Create an account below</h1>

<form method="POST" action='/user/signup' required>
    <label for='name'>Name: </label>
    <input type ="text" name ="name" id="name" required>
    <label for='password'>Password: </label>
    <input type ="password" name ="password" id="password" required>


    <%@provider.each do |provider|%>
            <p>
            <label >
                <input type="checkbox" value="<%=provider.id%>" name="provider_id" />
                <span> <%=provider.name.capitalize%>, <%=provider.title.upcase%> </span>
            </label>
            </p>
    <%end%>

    <input type= 'submit' class='btn' style="background-color: #dee8d5; color: black">
</form> 

