<h1>  Welcome <%= @user.name.capitalize %> </h1>
 <br>

    <body>
      <div class="container">
        <!-- Page Content goes here -->
        <a href = "/post/new"class='btn' style="background-color: #dee8d5; color: black">create blog post</a>
        <a href = "/post/index"class='btn' style="background-color: #dee8d5; color: black">My Blog posts</a>
        <a href="/user/logout"class='btn' style="background-color: #dee8d5; color: black">Logout</a>

      </div>
    </body>
