<div class="row center">
  <h1>  Welcome <%= @user.name.capitalize %>! </h1>
  <br>



    <a href = "/post/new"class='btn' style="background-color: #dee8d5; color: black">create blog post</a>
    <a href = "/post/index"class='btn' style="background-color: #dee8d5; color: black">My Blog posts</a>
    <a href="/apointment/new"class='btn' style="background-color: #dee8d5; color: black">create a new apointment reminder</a>
    <a href = "/apointment/index"class='btn' style="background-color: #dee8d5; color: black">My Apointments</a>

  

      <h1>Here are <%=@user.provider.name.capitalize%>'s latest posts</h1>
</div>

        <div class="row center">
          <%if @user.provider%> 
            <%posts = @user.provider.edu.last(2)%>
            <%posts.each do |edu| %>
              <div class="row center">
                <div class="col s12 m12">
                  <div class="card-panel hoverable user-card" style="background-color: #dee8d5">
                    
                    <span class="card-title"><h1><%=edu.title %></h1></span>
                    <p class="truncate"> <%=edu.content%> </p>
              
                  </div>
                </div>
              </div>
            <%end%>
          <%end %>
        </div>


</div>

