<h1>  Welcome <%= @user.name.capitalize %>! </h1>
 <br>


      <div class="container">
        <div class="row">
          <%if @user.provider%> 
            <%@user.provider.edu.each do |edu| %>
              <div class="row">
                <div class="col">
                  <div class="card-panel hoverable" style="background-color: #dee8d5">
                    <span class="card-title"><h1><%=edu.title %></h1></span>
                    <p class="truncate"> <%=edu.content%> </p>
              
                  </div>
            
                </div>
          
              </div>
              <%end%>
          <%end %>
        </div>



        <a href = "/post/new"class='btn' style="background-color: #dee8d5; color: black">create blog post</a>
        <a href = "/post/index"class='btn' style="background-color: #dee8d5; color: black">My Blog posts</a>
        <a href="/user/logout"class='btn' style="background-color: #dee8d5; color: black">Logout</a>

      </div>

