<h1>Thanks for choosing to provide education here with health connection. please register below</h1>

<form method="POST" action='/provider/signup'>


    <div class="row">
        <div class="input-field col s6">
            <input placeholder="name" type ="name" name ="name" id="name" required>

           
        </div>
        <div class="input-field col s6">
            <input placeholder="Official Title" type ="title" name ="title" id="title" required>
        </div>
     </div>
     <div class="row">
        <div class="col">
            <input type ="password" name ="password" id="password" required>
            <label for='password'>Password: </label>
        </div>

        <input type= 'submit' class='btn' style="background-color: #dee8d5; color: black">
    </div>
</form> 

