<div class="wrapper red lighten-5">
<h1>  Welcome <%= @provider.name.capitalize %>! </h1>
 </div>

  <div class="row">
    <div class="col">
        <div class="card green lighten-3 z-depth-3">
            <div class="card-content">
              <H3>Provide world class education to your patients.</H3>
              <a href = "/edu/new"class='btn' style="background-color: #dee8d5; color: black">create content</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card green lighten-3 z-depth-3">
          <div class="card-content">
            <H3>wondering what you have written about?</H3>
            <a href = "/edu/index"class='btn' style="background-color: #dee8d5; color: black">My educational content</a>
          </div>
        </div>
    </div>
    <div class="col s12">
        <div class="card green lighten-3 z-depth-3">
          <div class="card-content">
            <H3>are you done?</H3>
            <a href="/provider/logout"class='btn' style="background-color: #dee8d5; color: black">Logout</a>
              
          </div>
        </div>
    </div>
  </div>