<h1>  Welcome <%= @provider.name.capitalize %>! </h1>
 <br>

    <body>
      <div class="container">
        <!-- Page Content goes here -->
        <a href = "/edu/new"class='btn' style="background-color: #dee8d5; color: black">create content</a>
        <a href = "/edu/index"class='btn' style="background-color: #dee8d5; color: black">My educational content</a>
        <a href="/provider/logout"class='btn' style="background-color: #dee8d5; color: black">Logout</a>

      </div>
    </body>
