<div class="container">

    <form action="/apointment/new" method="post">
        <label for="reason">Reason for Apointment</label>
        <input type="text" name="reason" id="reason">

        <label for="date_and_time" >Date and Time of apointment</label>
        <input type="text" name ="date_and_time" id="date_and_time">

        <input type="submit" value="create apointment" class='btn' style="background-color: #ac92a6; color: black">
</form>
</div>